.releasenote {
    padding: 10px 10px 80px 10px;
    min-height: 85vh;
    margin: 0 auto; /* 水平方向に中央寄せ */
    width: 80%; /* 幅を調整してバランスをとる */
    max-width: 800px; /* 最大幅を設定 */
}

.releasenote ul {
    padding-left: 20px;
    list-style-type: disc;
}

.releasenote ul li {
    margin-bottom: 8px;
}

.releasenote hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.releasenote p {
    font-size: 16px;
    line-height: 1.6;
}

.releasenote h1, .releasenote h2 {
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .releasenote {
        width: 95%;
        padding: 10px 5px 80px 5px;
    }
}