.event-container {
  padding: 5px;
}

.event-item {
  margin: 5px 0;
  font-weight: bold;
}

.ant-picker-calendar-date-content.team1 {
  background-color: #FDEDEB;
}

.ant-picker-calendar-date-content.team2 {
  background-color: #DDE7F2;
}

.ant-picker-calendar-date-content.team3 {
  background-color: #FAF1E9;
}

.ant-picker-calendar-date-content.team4 {
  background-color: #EED5D2;
}

.ant-picker-calendar-date-content.team5 {
  background-color: #CDE7E5;
}

.ant-picker-calendar-date-content.team6 {
  background-color: #EAD7E6;
}

.ant-picker-calendar-date-content.holiday {
  background-color: #d1e7cd;
}

.ant-picker-calendar-date-content.newyear {
  background-color: #d1e7cd;
}

.ant-picker-calendar-date-content.select-date {
  background-color: red !important;
  color: #ffffFF !important;
}

.event-item {
  margin: 1px 0;
  font-weight: bold;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
  /* 4行以上の時はここを変える */
  height: 70px !important;
  width: 100%;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date {
  padding: 0px;
}