.events {
    margin: 5;
    padding: 5;
    list-style: none;
}

.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes-month {
    font-size: 28px;
    text-align: center;
}

.notes-month section {
    font-size: 28px;
}

.ant-picker-calendar {
    padding: 50px;
}

.ant-picker-calendar-header {
    background-color: rgb(66, 58, 47);
}

/* 例: スマートフォン用のスタイル */
@media (max-width: 768px) {
    .ant-picker-calendar-date-content {
        /* モバイル用のスタイルをここに追加 */
        width: 55px;
    }

    .ant-picker-cell ant-picker-cell-in-view {
        padding: 0px, 0px, 0px;
        margin: auto;
        padding: 1px;
    }


}