.events {
    margin: 5;
    padding: 5;
    list-style: none;
}
.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notes-month {
    font-size: 28px;
    text-align: center;
}
.notes-month section {
    font-size: 28px;
}
.ant-picker-calendar {
    padding: 50px;
}
.ant-picker-calendar-header {
    background-color: rgb(131, 80, 18);
}